.faq-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
  }
  
  .question-section {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 70px;
    gap: 500px;
    border: 0.1px solid gray; 
    border-radius: 10px;
    background-color: #f7f9fa;
    text-wrap: wrap;
    padding: 10px;
  }
  .question-expand {
    display: block;
    justify-content: space-between;
    align-items: top;
    width: 100%;
    height: 120px;
    margin: 10px 70px;
    gap: 500px;
    border: 0.1px solid gray; 
    border-radius: 10px;
    background-color: #f7f9fa;
    text-wrap: wrap;
    padding: 10px;
  }
  .question p{
    text-wrap: wrap;
  }
  .expand {
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: transparent;
    color: black;
    margin-left: 80px;
    
    border: 1px solid red;

   
  }
  